[Desktop Entry]
Categories=Office;ContactManagement;GTK;GNOME;
Comment=GTK application to manage sim card contacts
Comment[it_IT]=Applicazione GTK per gestire i contatti su sim card
Encoding=UTF-8
Exec=monosim-gtk
GenericName=monosim-gtk
Icon=monosim-gtk
Name=monosim-gtk
Name[it_IT]=monosim-gtk
StartupNotify=true
Terminal=false
Type=Application