[Desktop Entry]
Categories=Office;ContactManagement;Qt;KDE;
Comment=Qt application to manage sim card contacts
Comment[it_IT]=Applicazione Qt per gestire i contatti su sim card
Encoding=UTF-8
Exec=monosim-qt
GenericName=monosim-qt
Icon=monosim-qt
Name=monosim-qt
Name[it_IT]=monosim-qt
StartupNotify=true
Terminal=false
Type=Application