[Desktop Entry]
Categories=Office;ContactManagement;GTK;GNOME;
Comment[it]=GTK application to manage sim card contacts
Comment=GTK application to manage sim card contacts
Comment[it_IT]=Applicazione GTK per gestire i contatti su sim card
Encoding=UTF-8
Exec=monosim-gtk
GenericName[it]=monosim-gtk
GenericName=monosim-gtk
Icon=monosim-gtk
MimeType=
Name[it]=monosim-gtk
Name=monosim-gtk
Name[it_IT]=monosim-gtk
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
